
.header {
     background-color: #98AFC7;
     margin-top: 30px;
     line-height: 30px;
    padding-bottom:10px;
    padding-top:10px;
   
}
.text{
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    
}



